html{
    background: hsl(0, 0%, 0%);
} /* ændre baggrunden af html siden og jeg har brugt "hsl" i stedet for "color:(something)" da jeg sad og eksperimenterede med hvilken farve jeg vil have.
*/
  
#tableWithAlbums {
    width: 80%;
  } /* Ændre bredden af tabellen med "id = tableWithAlbums"
  */

  th{
    border: 1px solid #181717fa;
    color:hsl(191, 100%, 50%);
  }
  td {
    border: 1px solid #181717fa;
    color:hsl(191, 93%, 40%);
  }/* Styler table headeren og table data. Har igen brugt hsl da jeg gerne vil have en mørkere blå for table dataen og en lidt lysere blå for table header.  
  */
  #sejKnap{
    background: hsl(194, 90%, 45%)
  }
  #sejKnap:hover{
    background-color:hsl(194, 90%, 35%)
  }
  #sejKnap:active{
    background-color: hsl(194, 90%, 60%)
  } /*ændre baggrundsfarven og gør at når man trykker/hover så ændre farven på knappen.
  */
